<ion-view title="Profile Details" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content scroll="false" class="has-header">
        <form name="AccountForm" novalidate="" ng-class="processing ? 'loader' : ''">
            <div class="list">
                <label class="item item-input _item-stacked-label _item-floating-label" ng-class="identity.errors['first_name'] ? 'has-error' : ''">
                    <!--<span class="input-label">First name</span>-->
                    <input disabled="disabled" type="text" placeholder="First name" ng-model="identity.first_name">
                </label>
                <div class="help-block" ng-show="identity.errors['first_name']">{{identity.errors['first_name'].join(', ')}}</div>

                <label class="item item-input _item-stacked-label _item-floating-label" ng-class="identity.errors['last_name'] ? 'has-error' : ''">
                    <!--<span class="input-label">Last Name</span>-->
                    <input disabled="disabled" type="text" placeholder="Last Name" ng-model="identity.last_name">
                </label>
                <div class="help-block" ng-show="identity.errors['last_name']">{{identity.errors['last_name'].join(', ')}}</div>

                <label class="item item-input _item-stacked-label _item-floating-label" ng-class="identity.errors['phone'] ? 'has-error' : ''">
                    <!--<span class="input-label">Phone</span>-->
                    <input type="text" placeholder="Phone" ng-model="identity.phone">
                </label>
                <div class="help-block" ng-show="identity.errors['phone']">{{identity.errors['phone'].join(', ')}}</div>

<!--                <label class="item item-input _item-stacked-label _item-floating-label" ng-class="identity.errors['email'] ? 'has-error' : ''">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Email" ng-model="identity.email">
                </label>
                <div class="help-block" ng-show="identity.errors['email']">{{identity.errors['email'].join(', ')}}</div>-->

                <label class="item item-input _item-stacked-label _item-floating-label" ng-class="identity.errors['password'] ? 'has-error' : ''">
                    <!--<span class="input-label">Password</span>-->
                    <input type="text" placeholder="Password" ng-model="identity.password">
                </label>
                <div class="help-block" ng-show="identity.errors['password']">{{identity.errors['password'].join(', ')}}</div>

                <label class="item item-input _item-stacked-label _item-floating-label" ng-class="identity.errors['password2'] ? 'has-error' : ''">
                    <!--<span class="input-label">Re-password</span>-->
                    <input type="text" placeholder="Re-password" ng-model="identity.password2">
                </label>
                <div class="help-block" ng-show="identity.errors['password2']">{{identity.errors['password2'].join(', ')}}</div>
            </div>

            <div ng-if="error" class="alert alert-danger">
                <span ng-bind="error"></span>
            </div>

            <div class="padding">
                <button class="button button-positive button-block" disabled="disabled" ng-click="update(identity)">
                    Update
                </button>
                
                <button class="button button-assertive button-block" ng-click="logout()">
                    Logout
                </button>
            </div>
        </form>

    </ion-content>
</ion-view>
