<ion-view title="Dashboard" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <div ng-class="processing ? 'loader' : ''">
            <div class="list">
                <div class="item item-avatar" href="#">
                    <img ng-src="{{identity.getImageUrl()}}">
                    <h2>{{identity.first_name}} {{identity.last_name}}</h2>
                    <p>Routes: {{+identity.routesCount}}</p>
                    <p>Level: "{{identity.status}}"</p>
                    
                    <rating score="identity.rating"></rating>
                </div>
                
                <div ng-show="viewedRoutes.length">
                    <div class="item item-divider">
                        <b>Latest</b>
                    </div>
                    <div class="item item-button-right" ng-repeat="route in viewedRoutes | limitTo:5 track by $index">
                        <a class="button-link" href="#/app/route/detail/{{route.id}}">
                            {{route.title}}
                        </a>
                    </div>
                </div>
                
                <div ng-show="myRoutes.length">
                    <div class="item item-divider">
                        <b>Top 5</b>
                    </div>
                    <div class="item item-button-right" ng-repeat="route in myRoutes | limitTo:5 track by $index">
                        <a class="button-link" href="#/app/route/detail/{{route.id}}">
                            {{route.title}}
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <a class="button button-block button-positive icon-left ion-record" href="#/app/route/record">
                        Record
                    </a>
                </div>
                <div class="col">
                    <a class="button button-block button-calm icon-left ion-search" href="#/app/route/search-advanced">
                        Search
                    </a>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
