
<form ng-submit="registration()" name="RegForm" ng-controller="RegCtrl" ng-class="processing ? 'loader' : ''">

    <!-- <h3>Registration</h3> -->

    <div class="user-info__field form-group">
        <label for="l-name">Name:</label>
        <input name="name" ng-model="model.name" type="text" id="l-name">
    </div>
    <div class="user-info__field form-group" data-has-errors ng-class="model.errors['email']?'has-error':''">
        <label for="l-email">Email:</label>
        <div class="err-box__inline">
            <div class="err-box__block">
                <input name="email" ng-model="model.email" type="email" id="l-email" required>
                <div class="help-block" ng-show="model.errors['email']">{{model.errors['email'].join(', ')}}</div>
                <errors/>
            </div>
        </div>
    </div>
    <div class="user-info__field form-group" data-has-errors ng-class="model.errors['phone']?'has-error':''">
        <label for="l-phone">Phone:</label>
        <div class="err-box__inline">
            <div class="err-box__block">
                <input name="phone" type="text" id="l-phone" required  ng-model="model.phone">
                <div class="help-block" ng-show="model.errors['phone']">{{model.errors['phone'].join(', ')}}</div>
                <errors/>
            </div>
        </div>
    </div>
    <div class="user-info__field form-group" data-has-errors ng-class="model.errors['password']?'has-error':''">
        <label for="l-password">Password:</label>
        <div class="err-box__inline">
            <div class="err-box__block">
                <input name="password" ng-model="model.password" type="password" id="l-password" required>
                <div class="help-block" ng-show="model.errors['password']">{{model.errors['password'].join(', ')}}</div>
                <errors/>
            </div>
        </div>
    </div>
    <div class="user-info__field form-group" data-has-errors>
        <label for="l-password2">Re-password:</label>
        <div class="err-box__inline">
            <div class="err-box__block">
                <input name="password2" ng-model="model.password2" type="password" id="l-password2" required compare-to="model.password">
                <errors/>
            </div>
        </div>
    </div>

    <div class="accept-terms">
        <div class="checkbox form-group" data-has-errors>
            <label>
                <input name="accept" ng-model="accept" required type="checkbox"> I accept the <a ui-sref="app.page({url:'predict-terms'})">T&amp;Cs</a> and confirm that I am 18+.
            </label>
            <!-- <errors/> -->
        </div>
    </div>

    <div ng-if="error" class="alert alert-danger">
        <span ng-bind-html="error"></span>
    </div>

    <div class="sub-btn">
        <button type="submit" ng-class="!RegForm.$valid ? 'disabled' : ''" class="closest__btn btn btn-play-now  btn-lg ">{{'SIGN UP'| translate}}</button>
    </div>

</form>