<ion-view title="Save Route" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content scroll="false" class="has-header">

        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Title" ng-model="route.title">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Company" ng-model="route.company">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Description" ng-model="route.description">
            </label>
            <!--
            <label class="item item-input">
                <textarea placeholder="Description" ng-model="route.description"></textarea>
            </label>
            -->
        </div>
        <div class="padding">
            <button class="button button-positive button-block" ng-click="create()">
                Save
            </button>
        </div>
    </ion-content>
</ion-view>
