<ion-view title="Advanced search" hide-back-button="true">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <!--// TODO: -->
        <div ng-class="processing ? 'loader' : ''" style="position:absolute;top:0;bottom:0;left:0;right:0;"></div>

        <load-google-map>
            <map on-create="init(map)"></map>
        </load-google-map>

        <debug-toolbar></debug-toolbar>

        <div class="adv-search" ng-show="$A && $B">
            <div class="padding-left padding-right" style="margin-bottom:-20px">
                <button class="button button-block button-calm icon-left ion-search" ng-disabled="!isCriteriaCompleate() || processing" ng-click="search()">
                    Search
                </button>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-block button-positive" ng-class="{'active':current == $A}" ng-click="active($A)">
                        A
                    </button>
                </div>
                <div class="col">
                    <button class="button button-block button-assertive" ng-class="{'active':current == $B}" ng-click="active($B)">
                        B
                    </button>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
