<ion-view title="Sign In" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content scroll="false" class="has-header">
        <div ng-class="processing ? 'loader' : ''">
            <div class="list">
                <label class="item item-input _item-stacked-label item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Email" ng-model="model.email">
                </label>
                <label class="item item-input _item-stacked-label item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="Password" ng-model="model.password">
                </label>
            </div>

            <div ng-if="error" class="alert alert-danger">
                <span ng-bind="error"></span>
            </div>

            <div class="padding">
                <button class="button button-positive button-block" ng-click="signIn()">
                    Sign In
                </button>

                <a class="button button-calm button-block" href="#/app/signup">
                    Sign Up
                </a>

                <div class="padding text-center">
                    OR
                </div>

                <button class="button button-assertive button-block" ng-click="signInWithGoogle()">
                    Sign In with Google+
                </button>
                <!--            
                <button class="button button-assertive button-block" ng-click="logoutFromGoogle()">
                    Logout from Google+
                </button>
                -->
            </div>
        </div>
    </ion-content>
</ion-view>
